#layout {
  &:before {
    content: "";
    position: fixed;
    inset: -100%;
    transform: rotate(-30deg);
    z-index: -1;
    background-image: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' width='330' height='100'>\
<text x='0' y='100' font-size='42' font-family='Arial' fill='rgba(228,0,0,0.08)'>DEV VERSION</text>\
</svg>");
    background-repeat: repeat;
  }

  main, footer {
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.1);
  }

  #breadcrumbs li:first-child a::after {
    content: "DEV";
    font-weight: 900;
    font-size: 1.1em;
    margin-left: 5px;
    color: black;
  }
}
