$borderColor: rgba(16, 22, 26, 0.15)

.eventProgramEditor
  table.danceSet
    width: 100%
    border: 1px solid $borderColor

    tfoot
      th, td
        border-top: 1px solid $borderColor
      td
        border-left: 1px solid $borderColor

  h2
    margin-top: 0
    .delete
      float: right

  .addSectionButtons, .editSectionButtons
    margin: 1em 0
  .editSectionButtons
    margin-bottom: 0
