$borderColor: rgba(16, 22, 26, 0.15)

.eventProgramEditor

  .danceset
    padding: 10px 0 0 0
    margin: 1em 0
    background: rgba(191, 204, 214, 0.15)

    h2
      margin: 0 10px 0.3em
      display: flex
      .delete

    .move-danceset-selector
      display: inline-block
      margin-left: auto

    table
      background: white
      width: 100%
      min-width: 600px
      border-top: 1px solid $borderColor

      th:nth-child(1),td:nth-child(1)
        width: 30px
        padding: 0
      thead th:nth-child(1)
        vertical-align: middle
        text-align: center
      th:nth-child(5),td:nth-child(5)
        width: 23ch
      td:nth-child(5)
        white-space: nowrap
        padding: 2px

        div
          display: inline-block

      tfoot
        th, td
          border-top: 1px solid $borderColor
        td
          border-left: 1px solid $borderColor

      td
        vertical-align: top
        line-height: 28px
        padding-top: 3px
        padding-bottom: 3px

      td.noProgram
        padding: 1em
  @media only screen and (max-width: 600px)
    .danceset
      margin: 0 30px

  .addDanceSetButtons
    margin: 1em 0
