.md-editor
  width: 100%
  &:not(:focus-within)
    .w-md-editor-toolbar, .w-md-editor-bar
      display: none
  .w-md-editor-show-live
    overflow: hidden
    .w-md-editor-input
      position: relative
      z-index: 1
      transform: all 0.5s
    .w-md-editor-preview
      transform: left 0.5s, width 0.5s
  &:not(:focus-within)
    .w-md-editor-show-live
      .w-md-editor-input
        opacity: 0
        width: 100%
      .w-md-editor-preview
        left: -3px
        width: 100%
