.md-editor
  width: 100%
  min-width: 400px
  &:not(:focus-within)
    .w-md-editor-toolbar
      display: none
    .w-md-editor-bar
      display: none
    .w-md-editor-show-live
      .w-md-editor-input
        position: relative
        z-index: 1
        opacity: 0
        width: 100%
      .w-md-editor-preview
        left: -3px
        width: 100%
