.page {
  --navbar-size: var(--page-navbar-height, 50px);
  --titlebar-size: min(250px, max(20dvw, 35vh));
  --background-image: url("/Hieronymus_Janssens_-_Figures_dancing_in_an_elegant_interior-tiled.jpg");

  &.background-dances {
    --background-image: url("/Hieronymus_Janssens_-_Ball_on_the_terrace_of_a_palace,_sometimes_called__Ball_at_the_court_of_John_of_Austria-tiled.jpg");
  }
  &.background-volunteers {
    --background-image: url("/Ilia_Efimovich_Repin_Volga_Boatmen-tiled.webp");
  }
  &.background-ball {
    --background-image: url("/Hieronymus_Janssens,_efterfølger,_17._årh._eller_senere_-_Et_bal-tiled.webp?v=4");
  }
  padding-inline: 25px;
  display: grid;
  --menu-size: 0rem;
  &.menu-open {
    --menu-size: var(--page-menu-height, auto);
  }
  grid-template:
    "title" auto
    "navigation" auto
    "menu" var(--menu-size)
    "content" 1fr
    / 1fr;
  transition: grid-template 0.3s ease-in;

  @media (max-width: 800px) {
    &.menu-open > .content {
      padding-top: 1rem;
    }
  }
  @media (min-width: 800px) {
    --menu-size: 0rem;

    grid-template:
      "title title" auto
      "navigation navigation" auto
      "menu content" 1fr
      / var(--menu-size) 1fr;

    &.menu-open {
      --menu-size: var(--page-menu-width, auto);
    }
    .menu-measure-container {
      width: max-content;
      margin-right: 1rem;
    }
    &.menu-open > .content {
      padding-left: 1rem;
    }
  }

  & > .page-background {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    background-image: var(--background-image);
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: center;
    margin-top: calc(-1 * var(--navbar-size) - 16px);
    margin-inline: -25px;
  }

  & > .title {
    grid-area: title;
    min-height: var(--titlebar-size);
    padding-block: 2rem;

    .h1 {
      font-family: "Tangerine", cursive;
      font-size: 4rem;
      font-weight: 500;
      font-style: normal;
      line-height: 1;
      @media (min-width: 800px) {
        font-size: clamp(4rem, 8vw, 8rem);
      }
      @media (min-width: 1600px) {
        font-size: 8rem;
      }
    }
  }
  & .toolbar {
    /* grid-area: toolbar; */
    justify-self: end;
    align-self: end;
    margin-left: auto;
  }
  & > .navigation {
    grid-area: navigation;
    margin-block: 1rem;
  }
  & > .content {
    grid-area: content;
  }
  & > .menu {
    grid-area: menu;
    z-index: 1;
  }
  &:not(.menu-open) > .menu {
    display: none;
  }


}
