.page {
  --navbar-size: var(--page-navbar-height, 50px);
  --titlebar-size: min(250px, max(20dvw, 20vh));
  --page-gap: 1rem;
  --background-image: url("/Hieronymus_Janssens_-_Figures_dancing_in_an_elegant_interior-tiled.jpg");
  padding-inline: 25px;
  display: grid;
  --menu-size: 0rem;
  &.menu-open {
    --menu-size: var(--page-menu-height, auto);
  }
  grid-template:
    "title title" auto
    "toggle toolbar" auto
    "menu menu" var(--menu-size)
    "content content" 1fr
    / auto 1fr;
  gap: var(--page-gap);
  transition: grid-template 0.3s ease-in;

  @media (min-width: 800px)  {
    .menu-measure-container {
      width: max-content;
    }
  }
  @media (min-width: 800px) and (max-width: 1000px) {
    --toggle-size: 0rem;
    &:has(> .menu) {
    --toggle-size: 2rem;
    }
    column-gap: 0px;
    &.menu-open {
      --menu-size: calc(var(--page-menu-width, auto) - var(--toggle-size) + var(--page-gap));
    }

    grid-template:
      "title title title" auto
      "toggle toolbar toolbar" auto
      "menu menu content" 1fr
      / var(--toggle-size) var(--menu-size) 1fr;
    & > .menu-toggle {
      width: 0;
    }
    & > .toolbar {
      padding-left: var(--toggle-size);
    }
    &:not(.menu-open) > .content {
      margin-left: calc(-1 * var(--toggle-size));
    }
  }

  @media (min-width: 1000px) {
    --menu-size: 0rem;
    &:has(> .menu) {
      --menu-size: 2rem;
    }
    grid-template:
      "title title toolbar" auto
      "toggle content content" auto
      "menu content content" 1fr
      / var(--menu-size) 1fr;

    &.menu-open {
      --menu-size: var(--page-menu-width, auto);
    }    & > .toolbar {
      margin-bottom: 1rem;
    }
  }

  & > .page-background {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    background-image: var(--background-image);
    background-repeat: repeat-x;
    background-size: auto 100%;
    margin-top: calc(-1 * var(--navbar-size) - 16px);
    margin-inline: -25px;
  }

  & > .title {
    grid-area: title;
    min-height: var(--titlebar-size);

    .h1 {
      font-family: "Tangerine", cursive;
      font-size: 4rem;
      font-weight: 500;
      font-style: normal;
      line-height: 1;
      @media (min-width: 800px) {
        font-size: clamp(4rem, 8vw, 8rem);
      }
      @media (min-width: 1600px) {
        font-size: 8rem;
      }
    }
  }
  & > .toolbar {
    grid-area: toolbar;
    justify-self: end;
    align-self: end;
  }
  & > .content {
    grid-area: content;
  }
  & > .menu-toggle {
    grid-area: toggle;
  }
  & > .menu {
    grid-area: menu;
    z-index: 1;
  }
  &:not(.menu-open) > .menu {
    display: none;
  }


}
