.workshopEditor {
  .danceItem > :first-child {
    flex-grow: 1;
  }

  .workshop-instance {
    background: white;
    padding: 5px 15px 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(16, 22, 26, 0.15);
  }
}
