$borderColor: rgba(16, 22, 26, 0.15)

.eventProgramEditor
  
  .main-toolbar
    display: flex
    flex-wrap: wrap
    align-items: start

    .bp5-form-group
      margin-bottom: 5px

    #introductions--titleSlideStyleId--formgroup
      margin-right: auto

  td > .programType
      width: 28px
      height: 28px

  .danceset
    padding: 10px 0 0 0
    margin: 1em 0
    background: rgba(191, 204, 214, 0.15)

    .sectionTitleRow
      margin: 0 10px 0.3em
      flex-wrap: wrap
      justify-content: flex-end
      & > h2
        margin: 0
        flex-grow: 1

      @media only screen and (max-width: 350px)
        & > h2
          flex-basis: 100%
      & > :not(h2):first-of-type
        margin-left: auto

    table.programList
      background: white
      width: 100%
      border-top: 1px solid $borderColor

      tfoot
        th, td
          border-top: 1px solid $borderColor
        td
          border-left: 1px solid $borderColor

        .bp5-switch
          margin-left: 1em

      td.noProgram
        padding: 1em

      td
        padding: 0
      td.add-spacing
        padding: 6px

      tr:not(.eventProgramFooter)
        th:not(:nth-child(2)),td:not(:nth-child(2))
          width: 1%
        td:nth-child(4)
          white-space: nowrap
          text-align: right
          div
            display: inline-block
      tr.intervalMusicDuration
        td:nth-child(2)
          padding: 6px
        td:nth-child(3)
          padding: 0

  .eventProgramItemEditor > :nth-child(1)
      flex-grow: 1

  .addDanceSetButtons
    margin: 1em 0

.danceEditorPopover
  width: min(750px, 80vw)
  padding: 1em

.eventProgramItemPopover
  min-width: min(600px, 80vw)
  padding: 1em

.programType
  display: inline-flex
  align-items: center
  justify-content: center

  &.programType-Dance
    color: #cd6266
  &.programType-RequestedDance
    color: gray
  &.programType-EventProgram
    color: #4d92c2
  &.programType-IntervalMusic
    color: #c2a222

