$borderColor: rgba(16, 22, 26, 0.15)

.eventProgramEditor
  
  .main-toolbar
    text-align: right
    & > div
      display: inline-block
  .danceset
    padding: 10px 0 0 0
    margin: 1em 0
    background: rgba(191, 204, 214, 0.15)

    h2
      margin: 0 10px 0.3em
      display: flex
      flex-wrap: wrap
      justify-content: flex-end
      & > span
        flex-grow: 1

      @media only screen and (max-width: 350px)
        & > span
          flex-basis: 100%

      button:first-of-type
        margin-left: auto

    .move-danceset-selector
      display: inline-block

    table
      background: white
      width: 100%
      border-top: 1px solid $borderColor

      tfoot
        th, td
          border-top: 1px solid $borderColor
        td
          border-left: 1px solid $borderColor

      td
        vertical-align: top
        line-height: 28px
        padding-top: 3px
        padding-bottom: 3px

      td.noProgram
        padding: 1em
  .addDanceSetButtons
    margin: 1em 0

tr.eventProgramItem
  th:nth-child(4),td:nth-child(4)
    width: 36ch
  td:nth-child(4)
    white-space: nowrap
    padding: 2px
    text-align: right

    div
      display: inline-block

  .bp4-form-group
    margin-bottom: 5px
    &:last-child
      margin-bottom: 0


body > tr.eventProgramItem
  background: lightblue

@media only screen and (max-width: 800px)
  .eventProgramEditor
    table
      display: block

      tbody, thead
        display: block

  tr.eventProgramFooter, tr.eventProgramItem
    box-shadow: inset 1px 1px 0 0 rgba(17, 20, 24, 0.15)

    td,th
      border: none
      border-left: none
      box-shadow: none !important

  tr.eventProgramItem
    display: grid
    grid-template: "type duration actions" min-content "editor editor editor" auto / 1fr 1fr min-content

    :nth-child(1)
      grid-area: type
    :nth-child(2)
      grid-area: editor
    :nth-child(3)
      grid-area: duration
    :nth-child(4)
      grid-area: actions

    th:nth-child(2)
      display: none
    
    td
      padding-top: 4px
    td:nth-child(1)
      padding-left: 10px
    td:nth-child(2)
      padding: 0 10px 10px 10px
    td:last-child
      padding-right: 10px
  tr.eventProgramFooter
    display: flex
    td
      flex: 1 1 auto
    br
      display: none

