.version-chooser {
  max-height: calc(100dvh - 50px);

  h2 {
    text-align: center;
  }
  .navigation {
    text-align: center;
    margin-block: 1.5em;
  }
  
  .versions {
    max-height: calc(100dvh - 160px);
    background: white;
    overflow: auto;
    @media (max-width: 800px) {
      max-height: 300px;
      column-width: 120px;
    }
  }

  ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .timestamp {
    color: gray;
  }

  a.current {
    font-weight: bold;
  }
}
