// Font sizes
.slide {
  font-size: 4cqh;
  line-height: 1.28581;
  .slide-title {
    font-size: 1.4em;
  }
  .slide-navigation-title {
    font-size: 1em;
  }
  .slide-navigation ul {
    font-size: 0.8em;
  }
}
.slide-type-Event .slide-title {
  font-size: 2.4em;
}

// Reset
.slide {
  white-space: normal;
  * {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: inherit;
  }
  a:hover {
    color: inherit;
  }
}

.slide {
  height: 100cqh;
  width: 100cqw;
  text-align: center;
  padding: 7cqh 0;
  display: grid;
  grid-auto-flow: column dense;
  grid-auto-columns: 2fr 1fr;
  grid-auto-rows: auto 1fr auto;

  & > * {
    min-height: 0;
  }

  .slide-title {
    grid-column: 1;
    margin: 0;
    padding-bottom: 0.5em;
  }
  .slide-main-content {
    grid-column: 1;
    padding: 0 3cqh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .slide-program-description {
      flex: 1;
    }
  }
  .slide-next-slide {
    grid-column: 1;
    padding-top: 0.5em;
    border-top: 1px solid black;
    text-align: center;
    font-weight: bold;
    margin: 0.5em 1.5em 0;
  }
  .slide-navigation-title {
    grid-column: 2;
    grid-row: 1/2;
    border-left: 1px solid black;
    margin: 0;
    padding-bottom: 0.5em;
  }
  .slide-navigation {
    grid-column: 2;
    grid-row: 2/4;
    padding: 0 5cqw;
    min-width: 7em;
    border-left: 1px solid black;

  }

  .slide-program-description {
    text-align: left;
    display: inline-block;
    p {
      margin-bottom: 1cqh;
    }
    ul {
      display: inline-block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
    ul:not(.slide-navigation-list), ol {
      padding-left: 3cqw;
    }
    tr + tr, td + td {
      padding-left: 0.5em;
    }
    .slide-content-area {
      padding: 1px;
    }
  }
  .slide-program-description-content {
    padding: 1px;
  }
  .slide-program-footer {
    margin: 0.5em 0 0;
  }

  .slide-navigation-list {
    text-align: center;
    &, li {
      margin: 0;
      padding: 0;
    }
    li {
      list-style: none;
    }
    li.current {
      font-weight: bold;
    }
    &.has-current li:not(.current) {
      opacity: 0.8;
      scale: 0.8;
    }
    .placeholder {
      border-bottom: 0.05em solid;
      opacity: 0.4;
      &.current {
        opacity: 1;
      }
      &:before {
        content: '(';
      }
      &:after {
        content: ')';
      }
    }
  }
}
