@charset "UTF-8";
html{
  box-sizing:border-box;
}

*,
*::before,
*::after{
  box-sizing:inherit;
}

body{
  font-size:14px;
  font-weight:400;
  letter-spacing:0;
  line-height:1.28581;
  text-transform:none;
  color:#1c2127;
}

p{
  margin-bottom:10px;
  margin-top:0;
}

small{
  font-size:12px;
}

strong{
  font-weight:600;
}

::-moz-selection{
  background:rgba(125, 188, 255, 0.6);
}

::selection{
  background:rgba(125, 188, 255, 0.6);
}

:focus{
  outline:rgba(45, 114, 210, 0.6) solid 2px;
  outline-offset:2px;
  -moz-outline-radius:6px;
}

.bp5-icon{
  display:inline-block;
  flex:0 0 auto;
  vertical-align:text-bottom;
}
.bp5-icon:not(:empty)::before{
  content:"" !important;
  content:unset !important;
}
.bp5-icon > svg{
  display:block;
}
.bp5-icon > svg:not([fill]){
  fill:currentcolor;
}

/* aa */

.bp5-text-muted{
  color:#5f6b7c;
}

.bp5-text-disabled{
  color:rgba(95, 107, 124, 0.6);
}

a .bp5-icon, a .bp5-icon-standard, a .bp5-icon-large{
  color:inherit;
}

/* Alert */
.bp5-alert{
  max-width:400px;
  padding:20px;
}

.bp5-alert-body{
  display:flex;
}
.bp5-alert-body .bp5-icon{
  font-size:40px;
  margin-right:20px;
  margin-top:0;
}

.bp5-alert-contents{
  word-break:break-word;
}

.bp5-alert-footer{
  display:flex;
  flex-direction:row-reverse;
  margin-top:10px;
}

.bp5-divider{
  border-bottom:1px solid rgba(17, 20, 24, 0.15);
  border-right:1px solid rgba(17, 20, 24, 0.15);
  margin:5px;
}
.bp5-dialog-container{
  opacity:1;
  transform:scale(1);
  align-items:center;
  display:flex;
  justify-content:center;
  min-height:100%;
  pointer-events:none;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
  width:100%;
}

.bp5-dialog{
  background:#f6f7f9;
  border-radius:4px;
  box-shadow:0 0 0 1px rgba(17, 20, 24, 0.1), 0 2px 4px rgba(17, 20, 24, 0.2), 0 8px 24px rgba(17, 20, 24, 0.2);
  display:flex;
  flex-direction:column;
  margin:30px 0;
  pointer-events:all;
  -webkit-user-select:text;
     -moz-user-select:text;
      -ms-user-select:text;
          user-select:text;
  width:500px;
}
.bp5-dialog:focus{
  outline:0;
}

.bp5-dialog-header{
  align-items:center;
  background:#ffffff;
  border-radius:4px 4px 0 0;
  box-shadow:0 1px 0 rgba(17, 20, 24, 0.15);
  display:flex;
  flex:0 0 auto;
  min-height:40px;
  padding:5px;
  padding-left:15px;
  z-index:0;
}
.bp5-dialog-header .bp5-heading{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  word-wrap:normal;
  flex:1 1 auto;
  line-height:inherit;
  margin:0;
}
.bp5-dialog-header .bp5-heading:last-child{
  margin-right:15px;
}

.bp5-dialog-body{
  flex:1 1 auto;
  margin:15px;
}

.bp5-dialog-body-scroll-container{
  margin:0;
  max-height:70vh;
  overflow:auto;
  padding:15px;
}

.bp5-dialog-footer{
  flex:0 0 auto;
  margin:15px;
}

.bp5-dialog-footer-fixed{
  align-items:center;
  background-color:#ffffff;
  border-radius:0 0 4px 4px;
  border-top:1px solid rgba(17, 20, 24, 0.15);
  display:flex;
  gap:15px;
  justify-content:space-between;
  margin:0;
  padding:10px 10px 10px 15px;
}

.bp5-dialog-footer-main-section{
  flex:1 0 auto;
}

.bp5-dialog-footer-actions{
  display:flex;
  justify-content:flex-end;
}

.bp5-divider{
  border-bottom:1px solid rgba(17, 20, 24, 0.15);
  border-right:1px solid rgba(17, 20, 24, 0.15);
  margin:5px;
}
.bp5-control-group{
  transform:translateZ(0);
  display:flex;
  flex-direction:row;
  align-items:stretch;
}
.bp5-control-group > *{
  flex-grow:0;
  flex-shrink:0;
}
.bp5-control-group > .bp5-fill{
  flex-grow:1;
  flex-shrink:1;
}
.bp5-control-group .bp5-html-select,
.bp5-control-group .bp5-input,
.bp5-control-group .bp5-select{
  position:relative;
}
.bp5-control-group .bp5-input{
  z-index:2;
}
.bp5-control-group .bp5-input:focus{
  z-index:14;
}
.bp5-control-group .bp5-input[class*=bp5-intent]{
  z-index:13;
}
.bp5-control-group .bp5-input[class*=bp5-intent]:focus{
  z-index:15;
}
.bp5-control-group .bp5-input[readonly], .bp5-control-group .bp5-input:disabled, .bp5-control-group .bp5-input.bp5-disabled{
  z-index:1;
}
.bp5-control-group .bp5-input-group[class*=bp5-intent] .bp5-input{
  z-index:13;
}
.bp5-control-group .bp5-input-group[class*=bp5-intent] .bp5-input:focus{
  z-index:15;
}
.bp5-control-group .bp5-html-select select,
.bp5-control-group .bp5-select select{
  transform:translateZ(0);
  z-index:4;
}
.bp5-control-group .bp5-html-select select:focus,
.bp5-control-group .bp5-select select:focus{
  z-index:5;
}
.bp5-control-group .bp5-html-select select:hover,
.bp5-control-group .bp5-select select:hover{
  z-index:6;
}
.bp5-control-group .bp5-html-select select:active,
.bp5-control-group .bp5-select select:active{
  z-index:7;
}
.bp5-control-group .bp5-html-select select[readonly],
.bp5-control-group .bp5-html-select select:disabled,
.bp5-control-group .bp5-html-select select.bp5-disabled,
.bp5-control-group .bp5-select select[readonly],
.bp5-control-group .bp5-select select:disabled,
.bp5-control-group .bp5-select select.bp5-disabled{
  z-index:3;
}
.bp5-control-group .bp5-input-group > .bp5-icon,
.bp5-control-group .bp5-input-group > .bp5-button,
.bp5-control-group .bp5-input-group > .bp5-input-left-container,
.bp5-control-group .bp5-input-group > .bp5-input-action{
  z-index:16;
}
.bp5-control-group .bp5-select::after,
.bp5-control-group .bp5-html-select::after,
.bp5-control-group .bp5-select > .bp5-icon,
.bp5-control-group .bp5-html-select > .bp5-icon{
  z-index:17;
}
.bp5-control-group .bp5-html-select:focus-within,
.bp5-control-group .bp5-select:focus-within{
  z-index:5;
}
.bp5-control-group:not(.bp5-vertical) > :not(:last-child){
  margin-right:2px;
}
.bp5-control-group .bp5-numeric-input:not(:first-child) .bp5-input-group{
  border-bottom-left-radius:0;
  border-top-left-radius:0;
}
.bp5-control-group.bp5-fill{
  width:100%;
}
.bp5-control-group > .bp5-fill{
  flex:1 1 auto;
}
.bp5-control-group.bp5-fill > *:not(.bp5-fixed){
  flex:1 1 auto;
}
.bp5-control-group.bp5-vertical{
  flex-direction:column;
}
.bp5-control-group.bp5-vertical > :not(:last-child){
  margin-bottom:2px;
}
.bp5-control{
  cursor:pointer;
  display:block;
  margin-bottom:10px;
  position:relative;
  text-transform:none;
}
.bp5-control input:checked ~ .bp5-control-indicator{
  background-color:#2d72d2;
  box-shadow:inset 0 0 0 1px rgba(17, 20, 24, 0.2);
  color:#ffffff;
}
.bp5-control:hover input:checked ~ .bp5-control-indicator{
  background-color:#215db0;
}
.bp5-control input:not(:disabled):active:checked ~ .bp5-control-indicator{
  background:#184a90;
}
.bp5-control input:disabled:checked ~ .bp5-control-indicator{
  background:rgba(45, 114, 210, 0.5);
  box-shadow:none;
  color:rgba(255, 255, 255, 0.6);
}
.bp5-control:not(.bp5-align-right){
  padding-left:26px;
}
.bp5-control:not(.bp5-align-right) .bp5-control-indicator{
  margin-left:-26px;
}
.bp5-control.bp5-align-right{
  padding-right:26px;
}
.bp5-control.bp5-align-right .bp5-control-indicator{
  margin-right:-26px;
}
.bp5-control.bp5-disabled{
  color:rgba(95, 107, 124, 0.6);
  cursor:not-allowed;
}
.bp5-control.bp5-inline{
  display:inline-block;
  margin-right:20px;
}
.bp5-control input{
  left:0;
  opacity:0;
  position:absolute;
  top:0;
  z-index:-1;
}
.bp5-control .bp5-control-indicator{
  background-clip:padding-box;
  background-color:transparent;
  border:none;
  box-shadow:inset 0 0 0 1px #738091;
  cursor:pointer;
  display:inline-block;
  font-size:16px;
  height:1em;
  margin-right:10px;
  margin-top:-3px;
  position:relative;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
  vertical-align:middle;
  width:1em;
}
.bp5-control .bp5-control-indicator::before{
  content:"";
  display:block;
  height:1em;
  width:1em;
}
.bp5-control:hover .bp5-control-indicator{
  background-color:rgba(143, 153, 168, 0.15);
}
.bp5-control input:not(:disabled):active ~ .bp5-control-indicator{
  background:rgba(143, 153, 168, 0.3);
  box-shadow:inset 0 0 0 1px #738091;
}
.bp5-control input:disabled ~ .bp5-control-indicator{
  background:rgba(143, 153, 168, 0.15);
  box-shadow:none;
  cursor:not-allowed;
}
.bp5-control input:focus ~ .bp5-control-indicator{
  outline:rgba(45, 114, 210, 0.6) solid 2px;
  outline-offset:2px;
  -moz-outline-radius:6px;
  outline:#2d72d2 solid 2px;
}
.bp5-control.bp5-align-right .bp5-control-indicator{
  float:right;
  margin-left:10px;
  margin-top:1px;
}
.bp5-control.bp5-switch input ~ .bp5-control-indicator{
  background:rgba(143, 153, 168, 0.3);
  color:#1c2127;
}
.bp5-control.bp5-switch:hover input ~ .bp5-control-indicator{
  background:rgba(143, 153, 168, 0.4);
}
.bp5-control.bp5-switch input:not(:disabled):active ~ .bp5-control-indicator{
  background:rgba(143, 153, 168, 0.5);
}
.bp5-control.bp5-switch input:disabled ~ .bp5-control-indicator{
  background:rgba(143, 153, 168, 0.15);
  color:rgba(95, 107, 124, 0.6);
}
.bp5-control.bp5-switch input:disabled ~ .bp5-control-indicator::before{
  background:rgba(255, 255, 255, 0.8);
  box-shadow:none;
}
.bp5-control.bp5-switch input:checked ~ .bp5-control-indicator{
  background:#2d72d2;
  color:#ffffff;
}
.bp5-control.bp5-switch:hover input:checked ~ .bp5-control-indicator{
  background:#215db0;
}
.bp5-control.bp5-switch input:checked:not(:disabled):active ~ .bp5-control-indicator{
  background:#184a90;
}
.bp5-control.bp5-switch input:checked:disabled ~ .bp5-control-indicator{
  background:rgba(45, 114, 210, 0.5);
  color:rgba(255, 255, 255, 0.6);
}
.bp5-control.bp5-switch input:checked:disabled ~ .bp5-control-indicator::before{
  background:rgba(255, 255, 255, 0.5);
  box-shadow:none;
}
.bp5-control.bp5-switch:not(.bp5-align-right){
  padding-left:38px;
}
.bp5-control.bp5-switch:not(.bp5-align-right) .bp5-control-indicator{
  margin-left:-38px;
}
.bp5-control.bp5-switch.bp5-align-right{
  padding-right:38px;
}
.bp5-control.bp5-switch.bp5-align-right .bp5-control-indicator{
  margin-right:-38px;
}
.bp5-control.bp5-switch .bp5-control-indicator{
  border:none;
  border-radius:1.75em;
  box-shadow:none !important;
  min-width:1.75em;
  transition:background-color 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  width:auto;
}
.bp5-control.bp5-switch .bp5-control-indicator::before{
  background:#ffffff;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(17, 20, 24, 0.5);
  height:calc(1em - 4px);
  left:0;
  margin:2px;
  position:absolute;
  transition:left 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  width:calc(1em - 4px);
}
.bp5-control.bp5-switch input:checked ~ .bp5-control-indicator::before{
  left:calc(100% - 1em);
}
.bp5-control.bp5-switch.bp5-large:not(.bp5-align-right){
  padding-left:45px;
}
.bp5-control.bp5-switch.bp5-large:not(.bp5-align-right) .bp5-control-indicator{
  margin-left:-45px;
}
.bp5-control.bp5-switch.bp5-large.bp5-align-right{
  padding-right:45px;
}
.bp5-control.bp5-switch.bp5-large.bp5-align-right .bp5-control-indicator{
  margin-right:-45px;
}
.bp5-control.bp5-switch .bp5-switch-inner-text{
  font-size:0.7em;
  text-align:center;
}
.bp5-control.bp5-switch .bp5-control-indicator-child:first-child{
  line-height:0;
  margin-left:0.5em;
  margin-right:1.2em;
  visibility:hidden;
}
.bp5-control.bp5-switch .bp5-control-indicator-child:last-child{
  line-height:1em;
  margin-left:1.2em;
  margin-right:0.5em;
  visibility:visible;
}
.bp5-control.bp5-switch input:checked ~ .bp5-control-indicator .bp5-control-indicator-child:first-child{
  line-height:1em;
  visibility:visible;
}
.bp5-control.bp5-switch input:checked ~ .bp5-control-indicator .bp5-control-indicator-child:last-child{
  line-height:0;
  visibility:hidden;
}

/* Form group */
.bp5-form-group{
  display:flex;
  flex-direction:column;
  margin:0 0 15px;
}
.bp5-form-group label.bp5-label{
  margin-bottom:5px;
}
.bp5-form-group .bp5-control{
  margin-top:7px;
}
.bp5-form-group .bp5-form-group-sub-label,
.bp5-form-group .bp5-form-helper-text{
  color:#5f6b7c;
  font-size:12px;
}
.bp5-form-group .bp5-form-group-sub-label{
  margin-bottom:5px;
}
.bp5-form-group .bp5-form-helper-text{
  margin-top:5px;
}
.bp5-form-group.bp5-intent-danger .bp5-form-group-sub-label,
.bp5-form-group.bp5-intent-danger .bp5-form-helper-text{
  color:#ac2f33;
}
.bp5-form-group.bp5-fill{
  width:100%;
}
.bp5-form-group.bp5-inline{
  align-items:flex-start;
  flex-direction:row;
}
.bp5-form-group.bp5-inline.bp5-large label.bp5-label{
  line-height:40px;
  margin:0 10px 0 0;
}
.bp5-form-group.bp5-inline label.bp5-label{
  line-height:30px;
  margin:0 10px 0 0;
}
.bp5-form-group.bp5-disabled .bp5-label,
.bp5-form-group.bp5-disabled .bp5-text-muted,
.bp5-form-group.bp5-disabled .bp5-form-group-sub-label,
.bp5-form-group.bp5-disabled .bp5-form-helper-text{
  color:rgba(95, 107, 124, 0.6) !important;
}
.bp5-input-group{
  display:block;
  position:relative;
}
.bp5-input-group .bp5-input{
  position:relative;
  width:100%;
}
.bp5-input-group .bp5-input:not(:first-child){
  padding-left:30px;
}
.bp5-input-group .bp5-input:not(:last-child){
  padding-right:30px;
}
.bp5-input-group .bp5-input-action,
.bp5-input-group > .bp5-input-left-container,
.bp5-input-group > .bp5-button,
.bp5-input-group > .bp5-icon{
  position:absolute;
  top:0;
}
.bp5-input-group .bp5-input-action:first-child,
.bp5-input-group > .bp5-input-left-container:first-child,
.bp5-input-group > .bp5-button:first-child,
.bp5-input-group > .bp5-icon:first-child{
  left:0;
}
.bp5-input-group .bp5-input-action:last-child,
.bp5-input-group > .bp5-input-left-container:last-child,
.bp5-input-group > .bp5-button:last-child,
.bp5-input-group > .bp5-icon:last-child{
  right:0;
}
.bp5-input-group .bp5-button{
  min-height:24px;
  min-width:24px;
  margin:3px;
  padding:0 7px;
}
.bp5-input-group .bp5-button:empty{
  padding:0;
}
.bp5-input-group > .bp5-input-left-container,
.bp5-input-group > .bp5-icon{
  z-index:1;
}
.bp5-input-group > .bp5-input-left-container > .bp5-icon,
.bp5-input-group > .bp5-icon{
  color:#5f6b7c;
}
.bp5-input-group > .bp5-input-left-container > .bp5-icon,
.bp5-input-group > .bp5-icon,
.bp5-input-group .bp5-input-action > .bp5-spinner{
  margin:7px;
}
.bp5-input-group .bp5-input:not(:focus) + .bp5-button.bp5-minimal:not(:hover):not(:focus),
.bp5-input-group .bp5-input:not(:focus) + .bp5-input-action .bp5-button.bp5-minimal:not(:hover):not(:focus){
  color:#5f6b7c;
}
.bp5-input-group .bp5-input:not(:focus) + .bp5-button.bp5-minimal:not(:hover):not(:focus) .bp5-icon, .bp5-input-group .bp5-input:not(:focus) + .bp5-button.bp5-minimal:not(:hover):not(:focus) .bp5-icon-standard, .bp5-input-group .bp5-input:not(:focus) + .bp5-button.bp5-minimal:not(:hover):not(:focus) .bp5-icon-large,
.bp5-input-group .bp5-input:not(:focus) + .bp5-input-action .bp5-button.bp5-minimal:not(:hover):not(:focus) .bp5-icon,
.bp5-input-group .bp5-input:not(:focus) + .bp5-input-action .bp5-button.bp5-minimal:not(:hover):not(:focus) .bp5-icon-standard,
.bp5-input-group .bp5-input:not(:focus) + .bp5-input-action .bp5-button.bp5-minimal:not(:hover):not(:focus) .bp5-icon-large{
  color:#5f6b7c;
}
.bp5-input-group .bp5-input:not(:focus) + .bp5-button.bp5-minimal:disabled,
.bp5-input-group .bp5-input:not(:focus) + .bp5-input-action .bp5-button.bp5-minimal:disabled{
  color:rgba(95, 107, 124, 0.6) !important;
}
.bp5-input-group .bp5-input:not(:focus) + .bp5-button.bp5-minimal:disabled .bp5-icon, .bp5-input-group .bp5-input:not(:focus) + .bp5-button.bp5-minimal:disabled .bp5-icon-standard, .bp5-input-group .bp5-input:not(:focus) + .bp5-button.bp5-minimal:disabled .bp5-icon-large,
.bp5-input-group .bp5-input:not(:focus) + .bp5-input-action .bp5-button.bp5-minimal:disabled .bp5-icon,
.bp5-input-group .bp5-input:not(:focus) + .bp5-input-action .bp5-button.bp5-minimal:disabled .bp5-icon-standard,
.bp5-input-group .bp5-input:not(:focus) + .bp5-input-action .bp5-button.bp5-minimal:disabled .bp5-icon-large{
  color:rgba(95, 107, 124, 0.6) !important;
}
.bp5-input-group.bp5-disabled{
  cursor:not-allowed;
}
.bp5-input-group.bp5-disabled .bp5-icon{
  color:rgba(95, 107, 124, 0.6);
}
.bp5-input-group.bp5-fill{
  flex:1 1 auto;
  width:100%;
}
.bp5-input-group.bp5-round .bp5-button,
.bp5-input-group.bp5-round .bp5-input,
.bp5-input-group.bp5-round .bp5-tag{
  border-radius:30px;
}
.bp5-input{
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
  background:#ffffff;
  border:none;
  border-radius:2px;
  box-shadow:0 0 0 0 rgba(45, 114, 210, 0), 0 0 0 0 rgba(45, 114, 210, 0), inset 0 0 0 1px rgba(17, 20, 24, 0.2), inset 0 1px 1px rgba(17, 20, 24, 0.3);
  color:#1c2127;
  font-size:14px;
  font-weight:400;
  height:30px;
  line-height:30px;
  outline:none;
  padding:0 10px;
  transition:box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  vertical-align:middle;
}
.bp5-input::-moz-placeholder{
  color:#5f6b7c;
  opacity:1;
}
.bp5-input:-ms-input-placeholder{
  color:#5f6b7c;
  opacity:1;
}
.bp5-input::placeholder{
  color:#5f6b7c;
  opacity:1;
}
.bp5-input:focus, .bp5-input.bp5-active{
  box-shadow:inset 0 0 0 1px #2d72d2, 0 0 0 2px rgba(45, 114, 210, 0.3), inset 0 1px 1px rgba(17, 20, 24, 0.2);
}
.bp5-input[type=search], .bp5-input.bp5-round{
  border-radius:30px;
  box-sizing:border-box;
  padding-left:10px;
}
.bp5-input[readonly]{
  box-shadow:inset 0 0 0 1px rgba(17, 20, 24, 0.15);
}
.bp5-input:disabled, .bp5-input.bp5-disabled{
  background:rgba(211, 216, 222, 0.5);
  box-shadow:none;
  color:rgba(95, 107, 124, 0.6);
  cursor:not-allowed;
  resize:none;
}
.bp5-input:disabled::-moz-placeholder, .bp5-input.bp5-disabled::-moz-placeholder{
  color:rgba(95, 107, 124, 0.6);
}
.bp5-input:disabled:-ms-input-placeholder, .bp5-input.bp5-disabled:-ms-input-placeholder{
  color:rgba(95, 107, 124, 0.6);
}
.bp5-input:disabled::placeholder, .bp5-input.bp5-disabled::placeholder{
  color:rgba(95, 107, 124, 0.6);
}
.bp5-input.bp5-fill{
  flex:1 1 auto;
  width:100%;
}
.bp5-input::-ms-clear{
  display:none;
}

@supports (-webkit-touch-callout: none){
  input.bp5-input:disabled, input.bp5-input.bp5-disabled{
    opacity:1;
    -webkit-text-fill-color:rgba(95, 107, 124, 0.6);
  }
}
textarea.bp5-input{
  max-width:100%;
  padding:10px;
}
textarea.bp5-input, textarea.bp5-input.bp5-large, textarea.bp5-input.bp5-small{
  height:auto;
  line-height:inherit;
}
textarea.bp5-input.bp5-small{
  padding:8px;
}

.bp5-text-area.bp5-text-area-auto-resize{
  resize:horizontal;
}
label.bp5-label{
  display:block;
  margin-bottom:15px;
  margin-top:0;
}
label.bp5-label.bp5-disabled,
label.bp5-label.bp5-disabled .bp5-text-muted{
  color:rgba(95, 107, 124, 0.6);
}
label.bp5-label.bp5-inline{
  line-height:30px;
}
label.bp5-label.bp5-inline.bp5-large{
  line-height:40px;
}

table.bp5-html-table.bp5-html-table-bordered th:not(:first-child){
  box-shadow:inset 1px 0 0 0 rgba(17, 20, 24, 0.15);
}
table.bp5-html-table.bp5-html-table-bordered tbody tr td:not(:first-child),
table.bp5-html-table.bp5-html-table-bordered tfoot tr td:not(:first-child){
  box-shadow:inset 1px 1px 0 0 rgba(17, 20, 24, 0.15);
}

.bp5-icon{
  display:inline-block;
  flex:0 0 auto;
  vertical-align:text-bottom;
}
.bp5-icon > svg{
  display:block;
}
.bp5-icon > svg:not([fill]){
  fill:currentcolor;
}

.bp5-portal{
  left:0;
  position:absolute;
  right:0;
  top:0;
}

.bp5-flex-expander{
  flex:1 1;
}
