@charset "UTF-8";

body{
  font-size:14px;
  font-weight:400;
  letter-spacing:0;
  line-height:1.28581;
  text-transform:none;
  color:#1c2127;
}

p{
  margin-bottom:10px;
  margin-top:0;
}

strong{
  font-weight:600;
}

::-moz-selection{
  background:rgba(125, 188, 255, 0.6);
}
::selection{
  background:rgba(125, 188, 255, 0.6);
}

:focus{
  outline:rgba(45, 114, 210, 0.6) solid 2px;
  outline-offset:2px;
  -moz-outline-radius:6px;
}

.bp5-icon{
  display:inline-block;
  flex:0 0 auto;
  vertical-align:text-bottom;
}
.bp5-icon > svg{
  display:block;
}
.bp5-icon > svg:not([fill]){
  fill:currentcolor;
}

a .bp5-icon {
  color:inherit;
}

/* Form group */
.bp5-form-group{
  display:flex;
  flex-direction:column;
  margin:0 0 15px;
}
.bp5-form-group label.bp5-label{
  margin-bottom:5px;
}
.bp5-form-group .switch{
  margin-top:7px;
}
.bp5-form-group .bp5-form-group-sub-label,
.bp5-form-group .bp5-form-helper-text{
  color:#5f6b7c;
  font-size:12px;
}
.bp5-form-group.bp5-intent-danger .bp5-form-group-sub-label,
.bp5-form-group.bp5-intent-danger .bp5-form-helper-text{
  color:#ac2f33;
}
.bp5-form-group.bp5-inline{
  align-items:flex-start;
  flex-direction:row;
}
.bp5-form-group.bp5-inline label.bp5-label{
  line-height:30px;
  margin:0 10px 0 0;
}
label.bp5-label{
  display:block;
  margin-top:0;
}

.bp5-input{
  height:30px;
  line-height:30px;
  vertical-align:middle;
  &::placeholder{
    color:#5f6b7c;
    opacity:1;
  }
  &:disabled{
    background:rgba(211, 216, 222, 0.5);
    color:rgba(95, 107, 124, 0.6);
    cursor:not-allowed;
    resize:none;
  }
  &:disabled::placeholder{
    color:rgba(95, 107, 124, 0.6);
  }
  &::-ms-clear{
    display:none;
  }
}
@supports (-webkit-touch-callout: none){
  input.bp5-input:disabled{
    opacity:1;
    -webkit-text-fill-color:rgba(95, 107, 124, 0.6);
  }
}
.bp5-input-box {
  padding-inline:10px;
  font-size:14px;
  font-weight:400;
  appearance:none;
  background:#fff;
  border:none;
  border-radius:2px;
  box-shadow:0 0 0 0 rgba(45, 114, 210, 0), 0 0 0 0 rgba(45, 114, 210, 0), inset 0 0 0 1px rgba(17, 20, 24, 0.2), inset 0 1px 1px rgba(17, 20, 24, 0.3);
  color:#1c2127;
  outline:none;
  transition:box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);

  &:focus, &:focus-within{
    box-shadow:inset 0 0 1px 2px #2d72d2, 0 0 0 2px rgba(45, 114, 210, 0.3), inset 0 1px 1px rgba(17, 20, 24, 0.2);
  }
  &[readonly], &.readonly {
    box-shadow:inset 0 0 0 1px rgba(17, 20, 24, 0.15);
  }
  &:disabled{
    box-shadow:none;
  }
}
