.markdown-content {
  h1 {
    font-size: 2em;
    font-weight: bold;
    margin-block: .67em;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-block: .83em;
  }

  h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin-block: 1em;
  }

  h4 {
    font-size: 1.00em;
    font-weight: bold;
    margin-block: 1.33em;
  }

  h5 {
    font-size: 0.83em;
    font-weight: bold;
    margin-block: 1.67em;
  }
  h6 {
    font-size: 0.67em;
    font-weight: bold;
    margin-block: 2.33em;
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
  p {
    margin-block: 1em;
  }
  del {
    text-decoration: line-through;
  }
}

.qr-container {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.slide .qr-container {
  margin-right: 5px;
}
.qr-container:before {
  content: '';
  display: block;
}
.qr-container + .qr-container:before {
  display: none;
}
.qr-container .svg-container {
  width: var(--qr-size);
  height: var(--qr-size);
}
.qr-container svg {
  width: 100%;
  height: 100%;
}
.qr-container .url {
  max-width: calc(var(--qr-size) * 1.2);
  font-size: calc(var(--qr-size) / 14 * var(--qr-font-size));
  overflow-wrap: anywhere;
}
