@import "../../../node_modules/@blueprintjs/core/lib/css/blueprint.css";

.formgroup-inline {
  display: inline-flex;
  margin-bottom: 0
}
.formgroup-inline-fill > div {
  flex: 1 1 auto;
}

@supports selector(:focus-visible) {
  :focus {
    outline:none;
  }

  :focus-visible {
    outline:rgba(45, 114, 210, 0.6) solid 2px !important;
    outline-offset:2px;
    -moz-outline-radius:6px;
  }
}

.bp5-card + p {
  margin-top: 10px;
}
