@import "./blueprint.css";

.formgroup-inline {
  display: inline-flex;
  margin-bottom: 0
}
.formgroup-inline-fill > div {
  flex: 1 1 auto;
}

@supports selector(:focus-visible) {
  :focus {
    outline:none;
  }

  :focus-visible:not(.bp5-input) {
    outline:rgba(45, 114, 210, 0.6) solid 2px !important;
    outline-offset:2px;
  }
}
