@import "./blueprint.css";

.formgroup-inline {
  display: inline-flex;
  margin-bottom: 0
}
.formgroup-inline-fill > div {
  flex: 1 1 auto;
}

@supports selector(:focus-visible) {
  :focus {
    outline:none;
  }

  :focus-visible:not(.bp5-input) {
    outline:rgba(45, 114, 210, 0.6) solid 2px !important;
    outline-offset:2px;
  }
}

:root {
  --interactive-base-color: #2d72d2;
  --interactive-base-chroma: 100;
  --interactive-opacity: 100;
  --interactive-base-luminance: 100;
  --interactive-hover-luminance: 15;
  --interactive-active-luminance: 30;
}

.interactive-trigger {
  --interactive-is-hover: 0;
  --interactive-is-active: 0;
  &:not(:disabled):not(:has(:disabled)) {
    &:hover {
      --interactive-is-hover: 1;
    } 
    &:active, &:has(:active) {
      --interactive-is-hover: 0;
      --interactive-is-active: 1;
    } 
  }
  &:disabled, &:has(:disabled) {
    --interactive-opacity: 60;
  }
}

.interactive-bg {
  background: oklch(
    from var(--interactive-base-color)
    calc(l * 1% * (var(--interactive-base-luminance)
      - var(--interactive-is-hover) * var(--interactive-hover-luminance)
      - var(--interactive-is-active) * var(--interactive-active-luminance)
    ))
    calc(c * var(--interactive-base-chroma) / 100)
    h
    / calc(alpha * (1% * var(--interactive-opacity)))
    ) !important;
}
