@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";

.limited-width {
  max-width: 60ch;
}

.formgroup-inline {
  display: inline-flex;
  margin-bottom: 0
}
.formgroup-inline-fill > div {
  flex: 1 1 auto;
}

@supports selector(:focus-visible) {
  :focus {
    outline:none;
  }

  :focus-visible {
    outline:rgba(45, 114, 210, 0.6) solid 2px !important;
    outline-offset:2px;
    -moz-outline-radius:6px;
  }
}

.global-loading-spinner {
  z-index: 100;
  position: fixed;
  inset: 0;
  background: rgba(128, 128, 128, 0.3);
  display: grid;
  opacity: 0;
  transition: opacity 0.2s ease-in-out 0.3s;
  pointer-events: none;
}
.global-loading-spinner.loading{
  opacity: 1;
  pointer-events: auto;
}
.global-loading-spinner > * {
  place-self: center;
}

.bp5-card + p {
  margin-top: 10px;
}

.bp5-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 50px;
  height: auto;
}
.bp5-navbar-group {
  min-height: 50px;
  height: auto;
}
.bp5-navbar-group.bp5-align-left, .bp5-navbar-group.bp5-align-right {
  float: none;
}

.bp5-breadcrumbs {
  min-height: 40px;
  height: auto;
  margin-bottom: 10px;
}
.bp5-breadcrumbs > li {
  height: 30px;
  margin-top: 10px;
}
