@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tangerine:wght@400;700&display=swap');
@reference "tailwindcss";

#layout {
  min-height: 100vh;
  display: grid;

  @media print {
    display: block;
  }

  grid-template: "header" min-content
    "main" 1fr
    "footer" min-content
    / 100%;
}

#layout > nav {
  grid-area: header;
  background: #fffc;
}

#layout > footer {
  grid-area: footer;
}

#main-content {
  grid-area: main;

  --sidebar-size: 0px;
  &:has(> aside > :not(:empty)) {
    --sidebar-size: min(25%, 400px);
  }

  display: grid;
  grid-template: "main sidebar" 1fr
    / 1fr var(--sidebar-size);
  transition: grid-template 0.3s ease-in;

  @media (max-width: 800px) {
    --sidebar-size: 0px;
    &:has(> aside > :not(:empty)) {
      --sidebar-size: var(--sidebar-opened-height, auto);
    }
    & > aside > :not(:empty) {
      height: auto;
    }
    grid-template: "sidebar" var(--sidebar-size)
      "main" 1fr
      / 100%;

    & > aside {
      overflow: hidden;
    }
  }

  & > main {
    grid-area: main;
  }
  & > aside {
    position: relative;
    grid-area: sidebar;
  }
  & > aside > :not(:empty) {
    display: flex;
    flex-direction: column;
    @apply bg-gray-50 rounded m-2;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    height: calc(100dvh - 50px);
    overflow: auto;
  }
}

.TanStackRouterDevtools {
  @apply print:hidden;
}
