@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tangerine:wght@400;700&display=swap');
@import "tailwindcss";
@reference "./libraries/ui/ui.css";

@theme {
  --animate-appear: appear 0.2s ease-in-out forwards;
  --animate-dissapear: dissapear 0.2s ease-in-out forwards;

  @keyframes dissapear {
    to {
      transform: scale(.25);
    }
  }
  @keyframes appear {
    from {
      transform: scale(.55);
    }
  }

  --breakpoint-xs: 560px;
}

body {
  font-family: "Lato", sans-serif;
  font-size:14px;
  font-weight:400;
  letter-spacing:0;
  line-height:1.28581;
  text-transform:none;
  color:#1c2127;
}

p{
  margin-bottom:10px;
  margin-top:0;
}

strong{
  font-weight:600;
}

h1, h2 {
}
.h1 {
  font-family: "Tangerine", cursive;
  font-size: 6em;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  @media (max-width: 800px) {
    font-size: 4em;
  }
}

::-moz-selection{
  background:rgba(125, 188, 255, 0.6);
}
::selection{
  background:rgba(125, 188, 255, 0.6);
}

:focus{
  outline:rgba(45, 114, 210, 0.6) solid 2px;
  outline-offset:2px;
  -moz-outline-radius:6px;
}
@supports selector(:focus-visible) {
  :focus {
    outline:none;
  }
  :focus-visible:not(.bp5-input) {
    outline:rgba(45, 114, 210, 0.6) solid 2px !important;
    outline-offset:2px;
  }
}

#layout {
  min-height: 100vh;
  display: grid;
  grid-template: "header" min-content
    "main" 1fr
    "footer" min-content
    / 100%;
}

#layout > nav {
  grid-area: header;
}

#layout > footer {
  grid-area: footer;
}

#main-content {
  grid-area: main;

  --main-margin-size: 25px;
  --sidebar-size: 0px;
  &:has(> aside > :not(:empty)) {
    --sidebar-size: min(25%, 400px);
  }
  --sidebar-anim-speed: 0.5s;

  min-height: 100vh;
  display: grid;
  grid-template: "main sidebar" 1fr
    / 1fr var(--sidebar-size);
  transition: grid-template 0.3s ease-in;

  @media (max-width: 800px) {
    --sidebar-size: 0px;
    &:has(> aside > :not(:empty)) {
      --sidebar-size: var(--sidebar-opened-height, auto);
    }
    & > aside > :not(:empty) {
      height: auto;
    }
    grid-template: "sidebar" var(--sidebar-size)
      "main" 1fr
      / 100%;

    & > aside {
      overflow: hidden;
    }
  }

  & > main {
    grid-area: main;
    padding-top: 16px;
    padding-inline: var(--main-margin-size);
  }
  & > aside {
    position: relative;
    grid-area: sidebar;
    background: #f8f8f8;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.5);
  }
  & > aside > :not(:empty) {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    height: calc(100dvh - 50px);
    overflow: auto;
  }
}
