@import url('https://fonts.googleapis.com/css2?family=Charm&family=Tangerine&display=swap');
@import "tailwindcss";

@theme {
  --animate-appear: appear 0.2s ease-in-out forwards;
  --animate-dissapear: dissapear 0.2s ease-in-out forwards;

  @keyframes dissapear {
    to {
      transform: scale(.25);
    }
  }
  @keyframes appear {
    from {
      transform: scale(.55);
    }
  }

  --color-muted: var(--color-gray-500);
  --color-muted-hover: var(--color-gray-700);
  --color-link: oklch(51.8% 0.158 264.376);
}

@custom-variant active {
  &:active:not(:disabled,.disabled), &.active:not(:disabled,.disabled) {
    @slot;
  }
}

@custom-variant hover {
  &:hover:not(:disabled,.disabled) {
    @slot;
  }
}

@custom-variant disabled {
  &:disabled, &.disabled {
    @slot;
  }
}

@utility bg-* {
  --current-bg: --value(--color-*);
  background-color: --value(--color-*);
}
@utility bg-transparent-* {
  --current-bg: --value(--color-*);
  background-color: color-mix(in oklch --value(--color-*) 0%, transparent);
}

@utility bg-darken-* {
  background-color: oklch(from var(--current-bg) calc(l - calc(--value(integer) / 100)) c h);
}

@utility bg-opacity-* {
  background-color: oklch(from var(--current-bg) l c h / calc(--value(integer) / 100));
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

#layout {
  --main-margin-size: 25px;
  --sidebar-size: 0px;
  --main-size: min(100dvw - var(--sidebar-size), 1200px + var(--main-margin-size) * 2);
  --space: calc(100dvw - var(--main-size));
  --half-space: calc(var(--space) / 2);
  --right-space: calc(var(--half-space) - var(--sidebar-size));
  --left-space: min(var(--space) - var(--sidebar-size), var(--half-space));
  --sidebar-anim-speed: 0.5s;

  min-height: 100vh;
  display: grid;
  grid-template: "header header header header" min-content
    ". main . sidebar" 1fr
    "footer footer footer sidebar" min-content
    / var(--left-space) var(--main-size) var(--right-space) var(--sidebar-size);
  transition: grid-template 0.3s ease-in;
}
#layout:has(> aside > :not(:empty)) {
  --sidebar-size: min(25%, 400px);
}

@media (max-width: 800px) {
  #layout {
    --main-size: min(100dvw, 1200px + var(--main-margin-size) * 2);
    --sidebar-size: 0px;
    grid-template: "header header header" min-content
      "sidebar sidebar sidebar" var(--sidebar-size)
      ". main . " 1fr
      "footer footer footer" min-content
      / 1fr var(--main-size) 1fr;
  }
  #layout > aside {
    overflow: hidden;
  }
  #layout:has(> aside > :not(:empty)) {
    --sidebar-size: var(--sidebar-opened-height, auto);
  }
}

#layout > nav {
  grid-area: header;
}

#main-content {
  grid-area: main;
  padding-inline: var(--main-margin-size);
}
#layout > aside {
  position: relative;
  grid-area: sidebar;
  background: #f8f8f8;
  box-shadow: 0px 0px 10px rgba(0,0,0, 0.5);
  /* overflow: hidden; */
}
#layout > aside > :not(:empty) {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  height: calc(100dvh - 50px);
  overflow: auto;
}
@media (max-width: 800px) {
  #layout > aside > :not(:empty) {
    height: auto;
  }
}

#layout > footer {
  grid-area: footer;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-block: .67em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-block: .83em;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin-block: 1em;
}

h4 {
  font-size: 1.00em;
  font-weight: bold;
  margin-block: 1.33em;
}

h5 {
  font-size: 0.83em;
  font-weight: bold;
  margin-block: 1.67em;
}

h6 {
  font-size: 0.67em;
  font-weight: bold;
  margin-block: 2.33em;
}
