.slide-container {
  .controls {
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: black;
    select {
      padding: 4px;
      border: 1px solid transparent;
      text-align: right;
      background: transparent;

      &:focus, &:hover {
        border-color: rgba(0,0,0,0.4);
        background: rgba(255,255,255,0.4);
      }
    }
  }
  .slide {
    .closable-editor {
      &:hover:before {
        box-shadow: none;
      }
      .closable-editor-edit-icon {
        opacity: 0.5;
      }

      .rc-md-editor {
        max-height: 80cqh;
      }
    }
  }
}
