.ball-program-container {
  display: flex;
  height: 100dvh;
  --background-delay: 0.4s;
  --background-speed: 0.3s;
  --movement-delay: 0s;
  
  @media (orientation: landscape) {
    flex-direction: row-reverse;
  }
  @media (orientation: portrait) {
    flex-direction: column;
    --background-delay: 0s;
  }

  & > * {
    transition: flex 0.3s ease var(--movement-delay), padding 0.3s ease var(--movement-delay), background-color var(--background-speed) ease var(--background-delay);
  }
  &:not(.is-editing) {
    .editor {
      flex: 0 0 0;
      padding: 0;
    }
    .slide-backdrop {
      flex: 1;
      background-color: #000;
    }

  }
  &.is-editing {
    @media (orientation: landscape) {
      .editor {
        flex: 1 1 150px;
      }
      .slide-backdrop {
        flex: 3;
      }
    }
    @media (orientation: portrait) {
      --background-delay: 0s;
      .slide-backdrop {
        flex: 0 58.25vw;
      }
      .editor {
        flex: 1;
      }
    }

  }
  .editor {
    overflow: auto;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.5);

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .rc-md-editor {
      min-height: 400px;
    }
  }

}

.slide-container {
  .controls {
    position: absolute;
    right: 0.5cqw;
    top: 0.5cqw;
    height: 4cqh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: black;
    & > * {
      vertical-align: top;
    }
    select {
      height: 100%;
      font-size: 2cqh;
      padding: 0.3cqh;
      border: 1px solid transparent;
      text-align: right;
      background: transparent;

      &:focus, &:hover {
        border-color: rgba(0,0,0,0.4);
        background: rgba(255,255,255,0.4);
      }
    }
    button {
      padding: 0 10px;
      height: 100%;
      min-height: 0;
      svg {
        height: 100%;
      }
    }
  }
}
