.dance-instructions
  width: 800px
  margin: 1em auto

  .workshop
    p.description
      font-style: italic

  p
    margin: 0.3em 0

  h1, h2, h3, h4, h5, h6
    margin: 0.5em 0

  ul
    padding-left: 1em

.dance-instructions-dance
  button
    display: none

  &:focus, &:hover
    button
      display: inline

  @media print
    button
      display: none !important
      opacity: 0

  p:first-child
    font-style: italic
