.dance-cheatsheet
  &.mini p
    max-width: 340px

  h1
    font-size: inherit
    margin: 0.5em 0 0.2em 0

  table
    table-layout: fixed
    border-collapse: collapse
    max-width: 620px

  .iCanDance
    width: 110px
      
  td, th
    border: 1px solid black
    text-align: left
  strong
    display: block

