.danceList
  text-align: center
  
  .section
    page-break-inside: avoid
  
  //For the toolbar to not show weirdly
  label
    margin-bottom: 0

  &.three-columns
    
    .section
      vertical-align: top
      display: inline-block
      width: 33%

