.danceList
  padding-top: 1px
  text-align: center
  margin-bottom: 2em

  &.three-columns
    .section
      vertical-align: top
      display: inline-block
      width: 33%
  
  //For the toolbar to not show weirdly
  label
    margin-bottom: 0


  @media print
    .section
      page-break-inside: avoid
    footer
      position: fixed
      bottom: 0
      width: 100%
//@at-root html, body
//    width: 210mm
//    height: 297mm
