@use 'sass:math'

$A4h: 287mm
$A4w: 210mm
$aspect-ratio: math.div(210,287)

.dance-cheatsheet-page
  min-height: 100vh

  main
    padding: 10px
    margin-inline: auto
    height: $A4w
    width: $A4h
    background: white
    transform-origin: top

  &.repeat-1, &.repeat-2
    main
      width: $A4w
      height: $A4h

  &.repeat-1 section
    height: 100%
  &:not(.repeat-1) section
    height: 47%
    &:nth-child(odd)
      margin-bottom: 5%

  &.repeat-4
    main
      columns: 2 auto
  &.repeat-6
    main
      columns: 3 auto
  &.repeat-8
    main
      columns: 4 auto




  @media screen
    background: gray
    
  @media screen and (min-height: $A4w * 1.25)
    main
      transform: scale(1.2)
    &.repeat-1 main, &.repeat-2 main
      transform: scale(1.2 * $aspect-ratio)
  @media screen and (min-height: $A4w * 1.5)
    main
      transform: scale(1.5)
    &.repeat-1 main, &.repeat-2 main
      transform: scale(1.5 * $aspect-ratio)
  @media screen and (min-height: $A4w * 1.75)
    main
      transform: scale(1.75)
    &.repeat-1 main, &.repeat-2 main
      transform: scale(1.75 * $aspect-ratio)

.dance-cheatsheet
  &.mini p
    max-width: 340px

  h1
    font-size: inherit
    margin: 0.5em 0 0.2em 0
  table
    max-width: 620px
  thead th:nth-child(2)
    width: 110px
      
  strong
    display: block

