.dance-instructions
  width: 800px
  margin: 1em auto

  .workshop
    p.description
      font-style: italic

.dance-instructions-dance
  button
    display: none

  &:focus, &:hover
    button
      display: inline
  @media print
    button
      display: none !important
      opacity: 0
