.slideshow
  position: relative
  .controls
    position: absolute
    right: 10px
    top: 10px
    background: white

  .slide
    text-align: center
    padding: 5% 10%
    height: 100%
    
    & > h1
      font-size: 400%

    & > p
      font-size: 275%

    .markdown-part-editor
      .click-to-edit-button
        visibility: hidden
      &:hover 
        border: 1px solid #ddd
        .click-to-edit-button
          visibility: visible

    ul.headerList
      list-style: none
      padding: 0
      li
        font-size: 300%
        margin: 0

    .nextTrack
      border-top: 1px solid black
      position: fixed
      bottom: 10%
      width: 80%
      text-align: center
      font-size: 250%

      h1
        font-size: 100%
